{% extends 'layouts/base.html' %}

{% block title %}Log In | INSport{% endblock title %}


{% block bootstrapCSS %}
{% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock bootstrapCSS %}
   
{% block header %}
        <table ><font size="66" weight="50">L O G  I N</font></table>
	 
        <div class="header-content-inner">
           <table class="row" width="600px" ></table>
	       {% if error %}
	       <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
	       {% endif %}

	       {% if user.is_authenticated %}
	       Vous êtes connecté, {{ user.username }} !
	       {% else %}
		   <form method="post" class="a"  action=".">

	           {% for field in form %}

	           <label for="{{ field.auto_id }}">{{ field.label_tag }}
	           <span class="formfield"> {% csrf_token %}{{field}}</span><br>
	           </label><br>
	           {% endfor %}<br>
	           <input type="submit" class="btn btn-primary btn-lg" value="Update Profile" />
	       </form>
	       {% endif %}
            </p>
        </div>
{% endblock header %}
