{% extends 'layouts/base.html' %}

{% block title %}Inscription | INSport{% endblock title %}
{% block bootstrapCSS %}<!-- Bootstrap Core CSS -->
{% load static %}
        <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom Fonts from Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock bootstrapCSS %}

{% block content %}
<!-- Header -->
    <header>
        <div class="header-content">
        <table >
            <font size="66" weight="50">R E G I S T E R</font>
    	</table>
	   <div class="header-content-inner">
           <table class="row" width="600px" ></table>
           <p>{% if envoi %}Votre message a bien été envoyé !{% endif %}
	       <form method="post" class="a"  action=".">
            {% for field in form %}
               <span class="ast">*</span>
	           <label for="{{ field.auto_id }}">{{ field.label_tag }}
	           <span class="formfield"> {% csrf_token %}{{field}}</span><br>
	           </label><br>
	        {% endfor %}<br>
	       <input type="submit" class="btn btn-primary btn-lg" value="Sign Up !" />
           </form>
           </p>
            </div>
        </div>
    </header>
{% endblock content %}