
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>INSPORT - Sign Up</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	IN SPORT
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/#">Home</a>
                    </li>
                    <li>
                       <a href="/sign1"> {% if request.user.is_authenticated %}Welcome '{{ request.user.username }}'</a>
{% else %}<a href="/sign1">Login</a>{% endif %}
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/tableaubord">My Events</a></li>
							<li><a href="/swipe">Browse</a></li>
							
						</ul>
					</li>
                    <li>
                        <a href="/profile">My Profile</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->

    <header>
	
        <div class="header-content">
<table >
                	<font size="66" weight="50">R E G I S T E R</font>
    	</table>
	 
         <div class="header-content-inner">
           <table class="row" width="600px" ></table>
          <p>{% if envoi %}Votre message a bien été envoyé !{% endif %}
	
	 <form method="post" class="a"  action=".">

	{% for field in user_form %}

	   {% if field.field.required %}
	<span class="ast">*</span>
	    {% endif %} <label for="{{ field.auto_id }}">{{ field.label_tag }}
	    <span class="formfield"> {% csrf_token %}{{field}}</span><br>
	    </label><br>
	{% endfor %}<br>
	

	    <input type="submit" class="btn btn-primary btn-lg" value="Update Profile" />
	</form>
</p>
            </div>
        </div>
    </header>

    
	<!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; Example.com 2015</p>
        	</div>
        </div>
        
    </footer>

    <!-- jQuery -->
    <script src="{% static 'accueil/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'accueil/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'accueil/jquery.easing.min.js' %}"></script>
    
    <!-- Custom Javascript -->
    <script src="{% static 'accueil/custom.js' %}"></script>

</body>

</html>
