{% extends 'layouts/base.html' %}

{% block content %}

{% if envoi %}Votre message a bien été envoyé !{% endif %}

	 <form method="post" enctype="multipart/form-data" action=".">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Submit" />
	</form>

	<h1>Liste des contacts</h1>
	{% for utilisateur in utilisateurs %}
	    <h2>{{ utilisateur.nom }}</h2>
	    <img src="{{ utilisateur.photo.url }}"/>
	{% empty %}

    <p class="empty">Pas d'utlisateur créé pour le moment.</p>
	{% endfor %}

{% endblock content %}
