{% extends 'layouts/base.html' %}

{% block title %}Evenement Likés | INSport{% endblock title %}

{% load static %}
{% block bootstrapCSS %}
<!-- Bootstrap Core CSS -->
        <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        
        <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom Fonts from Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock bootstrapCSS %}


{% block header %}
    <section>
            <img class="img-responsive img-rounded center-block" src="{{detail.photoEvt.url}}" alt="" width="40%" height="40%">
    </section>
    <hr>
    <table width="150%"> <tr>
        <td>
            <article>
                <h2>{{detail.titre | upper}}</h2>
            </article>
            <br>
            <article>
            <div class="name" style=" margin-left: 2px; margin-right: 2px; overflow: auto; height:150px; width: 500px" align="justify">
                <p>{{ detail.description }}<p></div>
            </article>
        </td>
        <td>
        <section>
    <!--        <div style="border:1px solid #fff; padding:10px 10px; margin:5px 5px 5px 5px; width: 30%"> -->

            <div style="border-left: 1px solid #fff; padding-left: 30px; padding-top: 20px ;height: 250px;">
                <h4>Infos sur l'evenement</h4>
                <ul><i>Orga</i> : {{createurInfo.user.username}}</ul>
                <ul><i>Date</i> : {{detail.date}}</ul>
                <ul><i>Heure</i> : {{detail.heure}}</ul>
                <ul><i>Nbr de pratiquant</i> : {{detail.nbPlaces}}</ul>
                <ul><i>Sport</i> : <img src="{{photoSport.photo.url}}" alt="" width="5%"></ul>
            </div>
        </section>
        </div>
        </td>
        </tr></table>
{% endblock header %}
