<!-- Footer -->
{% load static %}
    <footer class="page-footer">
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
                <p><span class="glyphicon glyphicon-envelope"></span><br />
                <a href="mailto:charlotte.antolini@insa-lyon.fr" style="color: #FFFFFF">Charlotte Antolini <i>(Vive la Corse 1)</i></a><br />
                <a href="mailto:marie-lou.orsini@insa-lyon.fr" style="color: #FFFFFF">Marie-Lou Orsini <i>(Vive la Corse 2)</i></a><br />
                <a href="mailto:flavien.marty@insa-lyon.fr" style="color: #FFFFFF">Flavien Marty <i>(Flavinou pour les intimes)</i></a><br />
                <a href="mailto:romain.sercer@insa-lyon.fr" style="color: #FFFFFF">Romain Sercer <i>(Dédé tuning)</i></a><br />
                </p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy</p>
                <p>Département Télécommunication, Services et Usage</p>
                <p>INSA Lyon 2017</p>
        	</div>
        </div>
</footer>