<!-- Footer -->
{% load static %}
    <footer class="page-footer">
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Nous Contacter</h2>
                <p><span class="glyphicon glyphicon-envelope"></span><br />
                <a href="mailto:charlotte.antolini@insa-lyon.fr" style="color: #FFFFFF">Charlotte Antolini <i></i></a>,
                <a href="mailto:marie-lou.orsini@insa-lyon.fr" style="color: #FFFFFF">Marie-Lou Orsini <i></i></a>,
                <a href="mailto:flavien.marty@insa-lyon.fr" style="color: #FFFFFF">Flavien Marty <i></i></a>,
                <a href="mailto:romain.sercer@insa-lyon.fr" style="color: #FFFFFF">Romain Sercer <i></i></a>
                </p>
                <h2><a href="/doc" style="color: #FFFFFF">A propos</a></h2>
        	</div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy</p>
                <p>Département Télécommunications, Services et Usages</p>
                <p>INSA Lyon 2017</p>
        	</div>
        </div>
</footer>
