{% extends 'layouts/base.html' %}

{% block title %}Log In | INSport{% endblock title %}


{% block bootstrapCSS %}
{% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock bootstrapCSS %}
   
{% block header %}
        <table ><font size="66" weight="50">L O G  I N</font></table>
	 
        <div class="header-content-inner">
           <table class="row" width="600px" ></table>
	
	         <section class="overlay" style=" height=400px;" width="20%">
        <div class="overlay" style=" width=200px;" width="20%">
       <table style="width:400px ; height:400px;border-color: red;background-color:rgba(0,0,0,0.4);border-radius: 50px 0px 50px 0px;box-shadow: 1px 1px 10px #444; " align="center">
        <tbody><tr align="center">
            <td align="center">
                
            </td>
            <td align="center">
               

  {% if context  %}
<p>
        <img alt="" src"" style="height: 200px; width: 200px" id="imgClickAndChange">
  
</p>


  <div class="name">
    {{ context.description }}
  </div>
  
 



</div>
            </td>
            <td align="center">
                
            </td></tr><tr align="center" height="10%"></tr></tbody></table><br><br><table align="center" width="400px" style="border-radius=20px;"><tbody><tr><td align="left" style="width=50%; margin-left: 20px;">
<a href="{% url 'nice' event_id=context.id %}" style="height: 100px;padding: 25px 20px; border-radius: 500px;background-color:rgba(0,0,0,0.4); box-shadow: 1px 1px 10px #333; "  ><img src="{% static 'swipe/flex.png' %}"/></a>
</td><td width="50%"></td><td align="right">
<a href="{% url 'nope' event_id=context.id %}" style="height: 100px;padding: 25px 20px; border-radius: 500px;background-color:rgba(0,0,0,0.4);box-shadow: 1px 1px 10px #333; "  ><img src="{% static 'swipe/sofa.png' %}"/></a>
</td>
</tr><tr> {% else %}
  Wait for more people to join!
  {% endif %}</tr></tbody></table>
        
            </div>
        </section></div>
    
{% endblock header %}
