{% extends 'layouts/base.html' %}

{% block title %}Log In | INSport{% endblock title %}


{% block bootstrapCSS %}
{% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock bootstrapCSS %}
   
{% block header %}
        <table ><font size="66" weight="50">B R O W S E &nbsp; E V E N T S </font></table>
	 
        <div class="header-content-inner">
           <table class="row" width="600px" ></table>
	
	         <section  style=" height: 100%;" width="20%" align="center">
        <div style=" width="20%" align="center">
         {% if context  %}<div width="400px" style=";overflow: hidden; height : 200px; "><img alt="" src="{{context.photoEvt.url}}" width="400px" style="box-shadow: 5px 5px 5px #000;border: 1px solid #333;background-color:rgba(0,0,0,0.4);border-radius: 50px 0px 0px 0px; overflow: hidden;" align="center">
         </div>
         <div style="box-shadow: 5px 5px 5px #000; border-left: 1px solid #333;
         border-right: 1px solid #333;
         border-bottom: 1px solid #333; width:400px ; position : relative ;height:300px;border-radius: 0px 0px 50px 0px; ">
       <table style=" 
        overflow: hidden,;
     position : relative ;height: 100%;background-color:rgba(0,0,0,0.4); border-radius: 0px 0px 50px 0px; z-index : 100; " align="center">
        <tbody><tr >
       
            <td >
               

  
<div style="text-transform: uppercase ;background-color: #9933ff !important;  width: 100%;text-align: center;color: #fff;">
       <font size="5" weight="0">
        {{context.titre}}
        </font>
</div>
<div style="text-align: center; color: #9933ff;text-transform: uppercase ;width: 100%"> {{ context.date }} <b>|</b> {{ context.heure }} | {{ context.sports }} | {{ context.nbPlaces }} places

</div><br><br>
  <div class="name" style=" margin-left: 7px; margin-right: 7px; overflow: auto; height:110px;" align="justify">
    {{ context.description }}  ZEKFH EBFKBBEFK JHERkhqker khrkzher kHRKJZEHKR HZRkjherk jBRKQBERBQKER RZE RR E RR QRR  "RETEQTR ZZ T"
  </div>
  
 



</div>
            </td>
            <td align="center">
                
            </td></tr><tr align="center" height="10%"></tr></tbody></table><br><br><table align="center" width="400px" style="height: 70px;padding: 95px 90px; border-radius: 500px;background-color:rgba(0,0,0,0.4); box-shadow: 0px 0px 10px #9933ff; "><tbody><tr><td align="left" style="margin-left: 50px;padding: 10px 10px">
<a href="{% url 'nice' event_id=context.id %}" ><img src="{% static 'swipe/flex.png' %}"/></a>
</td><td align="center" width="50%"> <img src="{{context.sports.photo.url}}" height="50px"></td></td><td align="right" style="padding: 10px 10px">
<a href="{% url 'nope' event_id=context.id %}"><img src="{% static 'swipe/sofa.png' %}"/></a>
</td>
</tr><tr> {% else %}<div style="height: 500px; border: 1px solid #333;width: 400px; border-radius: 0px 0px 50px 0px; z-index : 100; background-color:rgba(0,0,0,0.4);"><div style="position: relative;top: 30%; border-radius: 0px 0px 50px 0px; height: 100%">
  <h3>No more events available !</h3><br>
  <i>Come back later</i></div></div>

  {% endif %}</tr></tbody></table></div>
        
            </div>
        </section></div>
    
{% endblock header %}
