{% extends 'layouts/base.html' %}

{% block title %}Profil de {{user}} | INSport{% endblock title %}

{% load static %}
{% block bootstrapCSS %}
<!-- Bootstrap Core CSS -->
        <link href="{% static 'tableaubord/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        
        <link href="{% static 'tableaubord/custom.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom Fonts from Google -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{% endblock bootstrapCSS %}

{% block header %}


<table ><font size="66" weight="50" style="text-transform: uppercase;">profil  &nbsp; de &nbsp; {{user}} </font></table></br>
<table width="90%"><tr><td>
<div width="50" height="50"><img src="{{request.user.profile.photo.url}}" width="40%" height="40%"></div>
<h3> Informations Personnelles : </h3>
<p>
<strong>Prénom : </strong>{{ user.first_name }} <br/>
<strong>Nom : </strong>{{ user.last_name }} <br/>
<strong>Sexe : </strong>{{ user.profile.sexe }}</br>
<strong>E-mail : </strong>{{ user.email }} <br/>
<strong>Téléphone : </strong>{{ user.profile.tel }} <br/>
<strong>Date de naissance : </strong>{{ user.profile.dateNaissance }} <br/>
</br>
</td><td width="10%"></td>
<td> </p>
<h3> Sports Préférés :</h3>    </br>
<p>{% for ad in adherences %}
    			{% if ad.adherent == request.user %}
				<img src="{{ad.sport.photo.url}}" width="20%" height="20%">     {{ad.sport}}    </br>
			{% endif %}
    {% endfor %}

</td></tr></table>
</td><td width="90%"></td><td align="right">
</p>






{% endblock header %}
